/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ROOT */
:root{
    --main-font-family: "Futura PT", "Arial", sans-serif;
    --main-regular-font-weight: 400;
    --main-body-bg-color: #fff;
    --main-text-color: #333;
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: 
    url("../fonts/FuturaPT-Light.woff2") format("woff2"), 
    url("../fonts/FuturaPT-Light.woff") format("woff");
}
@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: 
    url("../fonts/FuturaPT-Book.woff2") format("woff2"), 
    url("../fonts/FuturaPT-Book.woff") format("woff");
}
@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    url("../fonts/FuturaPT-Medium.woff2") format("woff2"), 
    url("../fonts/FuturaPT-Medium.woff") format("woff");
}
@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/FuturaPT-Bold.woff2") format("woff2"), 
    url("../fonts/FuturaPT-Bold.woff") format("woff");
}

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

body{
    background-image: url("../images/bg.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-regular-font-weight);
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.body-stop{
    overflow: hidden;
}

.container{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}
.site-main{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/* SITE HEADER TOP START */
.site-header__topbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 9px;
}
.site-header__address{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.site-header__address::before{
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 9px;
}
.site-header__address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--main-text-color);
    text-decoration: none;
}
.site-header__tel-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin-right: 119px;
    margin-left: 128px;
    padding-left: 0;
}
.site-header__tel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  
}
.site-header__tel-item:nth-child(1)::before{
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 9px;
}
.site-header__tel-item:nth-child(2)::before{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    margin-right: 9px;
    margin-left: 9px;
    border-radius: 50%;
    background-color: #FFBD54;
}
.site-header__tel-item:nth-child(2)::after{
    display: inline-block;
    content: "";
    width: 4px;
    height: 4px;
    margin-right: 9px;
    margin-left: 9px;
    border-radius: 50%;
    background-color: #FFBD54;
}
.site-header__tel-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
    text-decoration: none;
}
.site-header__tel-link:hover{
    color: #ffbd54;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.site-header__tel-link:active{
    color: #333;
    opacity: 0.6;
}
.site-header__time-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.site-header__time-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 17px;
}
.site-header__time-item:nth-child(1)::before{
    background-image: url("../images/data.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 9px;
}
.site-header__time-box {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}
/* SITE HEADER TOP FINISH */

/* SITE HEADER BOTTOM START */
.site-header__bottombox {
    background-color: var(--main-body-bg-color);
}
.site-header__bottom-info{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo{
    position: absolute;
}
.logo:hover{
    opacity: 0.8;
}
.logo:active{
    opacity: 0.6;
}
.site-header__nav{
    margin-left: auto;
}
.site-header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    width: 719px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}
.site-header__nav-list::before{
    background-image: url("../images/fish.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    margin-right: 14px;
    width: 15px;
    height: 15px;
}
.site-header__nav-item{
    margin-right: 55px;
}
.site-header__nav-item:nth-child(6){
    margin-right: 0;
}

.site-header__nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
.site-header__nav-link:hover{
    border-bottom: 4px solid #F4FFAD;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.site-header__nav-link:active{
    opacity: 0.6;
}
.site-header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    margin-left: 163px;
    padding-top: 20px;
    padding-bottom: 16px;
    color: #333333;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}
.site-header__link:hover{
    border-bottom: 4px solid #F4FFAD;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.site-header__link:active{
    opacity: 0.6;
}
.site-header__link::before{
    background-image: url("../images/paw.svg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    width: 23px;
    height: 21px;
    margin-right: 9px;
}
/* SITE HEADER BOTTOM START */

/* HERO SECTION START */
.hero{
    background-image: url("../images/pets.png" ) , url("../images/parrot.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 545px) calc(50% - 75px) ,  calc(50% + 700px) calc(50% + 240px);
    padding-top: 153px;
    padding-bottom: 290px;
}  

/* BACKGROUND IMAGE RETINA START */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero{
        background-image: url("../images/pets2x.png") , url("../images/parrot2x.png") ;
    }
}  
/* BACKGROUND IMAGE RETINA START */
.hero__we-care{
    width: 608px;
    margin-right: 97px;
    margin-left: auto;
}
.hero__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
}
.hero__blue-title {
    color: #78c0de;
}
.hero__text-box {
    width: 495px;
    margin-bottom: 38px;
}
.hero__text {
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}
.hero__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    color: #FFFFFF;
    background-color: #333333;
    border-radius: 3px;
    padding: 15px 48px 16px 47px;
    text-decoration: none;
}
.hero__link:hover{
    color: #333333;
    background-color: #ffbd54;
}
.hero__link:active{
    opacity: 0.6;
}
/* HERO SECTION START */

/* ABOUT SECTION SATART */
.about{
    padding-top: 21px;
    padding-bottom: 191px;
}
.about__textbox{
    position: relative;
    width: 753px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.about__textbox::before{
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 470px);
    background-image: url("../images/“.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 80px;
    height: 50px;
}
.about__textbox::after{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% + 420px);
    background-image: url("../images/“\ bottom.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 80px;
    height: 50px;
}
.about__decs{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
}
.about__decs::before{
    content: "";
    display: block;
    width: 140px;
    margin-bottom: 43px;
    margin-right: auto;
    margin-left: auto;
    background-color: #DBDBDB;
    border: 1px solid #DBDBDB; 
}
.about__decs::after{
    content: "";
    display: block;
    width: 140px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #DBDBDB;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DBDBDB; 
}
.about__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
}
/* ABOUT SECTION FINISH */

/* ABOUT SERVICES START */
.hero-our-services {
    padding-top: 118px;
    padding-bottom: 169px;
    background-image: url("../images/green-parrot.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 510px) calc(50% - 755px);
}

.hero-our-services__textbox {
    width: 447px;
    margin-bottom: 139px;
    margin-left: 112px;
}

.hero-our-services__text {
    margin-top: 0;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color);
}

.hero-our-services__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    
    color: var(--main-desc-color);
    
}

.hero-our-services__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 420px 34px 420px 34px 420px;
    grid-template-rows: repeat(3, 420px);
    -ms-grid-columns: 305px 30px 305px 30px 305px 30px 305px;
    grid-template-columns: repeat(4, 305px);
    
    grid-gap: 34px 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero-our-services__list > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.hero-our-services__list > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.hero-our-services__list > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.hero-our-services__list > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.hero-our-services__list > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.hero-our-services__list > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.hero-our-services__list > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.hero-our-services__list > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.hero-our-services__list > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}

.hero-our-services__list > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
}

.hero-our-services__list > *:nth-child(11) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
}

.hero-our-services__list > *:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-column: 7;
}

.hero-our-services__item {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 157px;
    padding-right: 50px;
    padding-bottom: 45px;
    padding-left: 53px;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    background-image: url("../images/pet-paw-grey.svg");
    background-repeat: no-repeat;
    background-position: top right;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hero-our-services__item:hover {
    -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}
.hero-our-services__item:active {
    -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.hero-our-services__item::before{
    position: absolute;
    top: 59px;
    left: 53px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.hero-our-services__item:nth-child(1):before{
    width: 54px;
    height: 77px;
    background-image: url("../images/doctor.svg");
}
.hero-our-services__item:nth-child(2):before{
    width: 61px;
    height: 77px;
    background-image: url("../images/vetrinar.svg");
}
.hero-our-services__item:nth-child(3):before{
    width: 72px;
    height: 77px;
    background-image: url("../images/dogill.svg");
}
.hero-our-services__item:nth-child(4):before{
    width: 76px;
    height: 76px;
    background-image: url("../images/dogstomach.svg");
}
.hero-our-services__item:nth-child(5):before{
    width: 78px;
    height: 78px;
    background-image: url("../images/veterinary-3\ 1.svg");
}
.hero-our-services__item:nth-child(6):before{
    width: 76px;
    height: 76px;
    background-image: url("../images/dogs.svg");
}
.hero-our-services__item:nth-child(7):before{
    width: 77px;
    height: 77px;
    background-image: url("../images/dogskeloto.svg");
}
.hero-our-services__item:nth-child(8):before{
    width: 40px;
    height: 77px;
    background-image: url("../images/syringe.svg");
}
.hero-our-services__item:nth-child(9):before{
    width: 87px;
    height: 78px;
    background-image: url("../images/dogcalendar.svg");
}
.hero-our-services__item:nth-child(10):before{
    width: 68px;
    height: 76px;
    background-image: url("../images/vaksina.svg");
}
.hero-our-services__item:nth-child(11):before{
    width: 78px;
    height: 78px;
    background-image: url("../images/dogteeth.svg");
}
.hero-our-services__item:nth-child(12):before{
    width: 77px;
    height: 77px;
    background-image: url("../images/vetbag.svg");
}

.hero-our-services__item-text {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 34px;
    
    color: var(--main-text-color);
    
}

.hero-our-services__item-desc {
    margin-top: 0;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-desc-color);
    
}

.hero-our-services__link {
    display: inline-block;
    padding-top: 15px;
    padding-right: 29px;
    padding-bottom: 14px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #78c0d3;
    border-radius: 3px;;
}

.hero-our-services__link--yellow{
    background-color: #ffbd54;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hero-our-services__link--yellow:hover{
    background-color: #333333;
    color: #ffbd54;
    
}
.hero-our-services__link--yellow:active{
    opacity: 0.6;
}

/*ABOUT SERVICES SECTION FINSIH */


/* SERVICES SECTION START */
.services {
    padding-bottom: 235px;
}
.services__box{
    position: relative;
}
.services__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #333333;
}
.services__btn-first {
    position: absolute;
    top: 210px;
    left: -50px;
    padding: 10px;
    background-color: transparent;
    border: none;
}
.services__btn:hover{
    padding: 10px;
    background-color: #fff;
}
.services__btn:active{
    padding: 10px;
    opacity: 0.6;
}
.services__btn-second{
    position: absolute;
    top: 210px;
    right: -50px;
    padding: 10px;
    background-color: transparent;
    border: none;
}
.services__list {
    position: relative;
    width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
    overflow-x: hidden;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
.services__item {
    position: relative;
    width: 193px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    background-color: #fff;
    margin-right: 13px;
}
.services__item:nth-child(1) .services__links-info{
    padding-bottom: 42px;
}
.services__item:nth-child(1)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/doctor.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 54px;
    height: 75px;
}
.services__item:nth-child(2)::before{
    position: absolute;
    top: 30px;
    right: 60px;
    background-image: url("../images/vetrinar.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 65px;
    height: 77px;
}
.services__item:nth-child(3)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/dogill.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 72px;
    height: 75px;
}
.services__item:nth-child(4)::before{
    position: absolute;
    top: 30px;
    right: 60px;
    background-image: url("../images/dogstomach.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 76px;
    height: 77px;
}
.services__item:nth-child(5)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/veterinary-3 1.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 78px;
    height: 78px;
}
.services__item:nth-child(6)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/dogs.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 76px;
    height: 76px;
}
.services__item:nth-child(7)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/dogskeloto.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 77px;
    height: 77px;
}
.services__item:nth-child(8)::before{
    position: absolute;
    top: 30px;
    right: 78px;
    background-image: url("../images/syringe.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 40px;
    height: 77px;
}
.services__item:nth-child(9)::before{
    position: absolute;
    top: 30px;
    right: 50px;
    background-image: url("../images/dogcalendar.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 87px;
    height: 78px;
}
.services__item:nth-child(10)::before{
    position: absolute;
    top: 30px;
    right: 65px;
    background-image: url("../images/vaksina.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 68px;
    height: 76px;
}
.services__item:nth-child(11)::before{
    position: absolute;
    top: 30px;
    right: 60px;
    background-image: url("../images/dogteeth.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 78px;
    height: 78px;
}
.services__item:nth-child(12)::before{
    position: absolute;
    top: 30px;
    right: 55px;
    background-image: url("../images/vetbag.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 77px;
    height: 80px;
}
.services__item:nth-child(12){
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.services__links-info{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #333333;
    text-decoration: none;
    padding: 129px 32px 28px 35px;
}
.services__item:hover{
    opacity: 0.8;
}
.services__item:active{
    opacity: 0.6;
}
.services__links--padding{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 128px;
}
.services__vet {
    width: 1220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    padding-top: 41px;
    padding-bottom: 41px;
}
.services__info {
    width: 492px;
    
}
.services__info-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333;
}
.services__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.services__link-box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
}
.services__link-yellow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    background-color: #ffbd54;
    padding: 15px 36px 16px 35px;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
}
.services__link-yellow::before{
    background-image: url("../images/money.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 7px;
}
.services__link-yellow:hover{
    background-color: #333333;
    color: #ffbd54;
}
.services__link-yellow:active{
    opacity: 0.6;
}
.services__link-black{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin-left: 21px;
    background-color: #333333;
    padding: 15px 37px 14px 37px;
    color: #FFFFFF;
    border-radius: 3px;
    text-decoration: none;
}
.services__link-black::before{
    background-image: url("../images/document.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 7px;
}
.services__link-black:hover{
    background-color: #ffbd54;
    color: #333333;
}
.services__link-black:active{
    opacity: 0.6;
}
/* SERVICES SECTION FINSIH */

/* ARTICLE START */
.article{
    background-image: url("../images/article.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 88px;
}
.article__info{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.article__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #FFFFFF;
}
.article__img{
    position: absolute;
    top: -179px;
    right: -55px;
}
.article__box{
    margin-left: 287px;
}
.article__form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.article__mail-input{
    width: 335px;
    padding: 18px 0 12px  22px;
    border-radius: 5px;
    border: none;
}
.article__mail-input:focus{
    outline: 2px solid #ffbd54;
}
.article__mail-input:not(:focus):not(:-moz-placeholder-shown):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
.article__mail-input:not(:focus):not(:-ms-input-placeholder):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
.article__mail-input:not(:focus):not(:placeholder-shown):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
.article__btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 21px;
    border: none;
    border-radius: 3px;
    background-color: #333333;
    padding: 15px 53px 14px 51px;
}
.article__btn:hover{
    background-color: #ffbd54;
    color: #333333;
}
.article__btn:active{
    opacity: 0.6;
}
/* ARTICLE FINISH */

/* USEFULL SECTION START */
.usefull {
    padding-top: 216px;
    padding-bottom:  265px; ;
}
.usefull__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    margin-bottom: 80px;
    text-align: center;
    color: #333333;
}
.usefull__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}
.usefull__item {
    width: 305px;
    background-color: #FEFEFE;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
}
.usefull__item:hover{
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.usefull__item:active{
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
    
}
.usefull__textbox{
    width: 244px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 37px;
}
.usefull__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
}
.usefull__more-info{
    width: 182px;
}
.usefull__heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
}
.usefull__text {
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.useful__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
}
.useful__link::before{
    background-image: url("../images/paw.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    width: 25px;
    height: 23px;
    margin-right: 7px;
}
.useful__link:hover{
    color: #ffbd54;
    
}
.useful__link:active{
    opacity: 0.6;
}
.useful__item--width{
    width: 640px;
}
.usefull__more{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.usefull__for-dog{
    width: 270px;
    padding-top: 65px;
    padding-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
}
.usefull__information{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.useful__time-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin-right: auto;
    padding-left: 0;
    margin: 0;
}
.useful__time-item:nth-child(2){
    margin-left: 7px;
    margin-right: 7px;
}
.useful__time-link{
    text-decoration: none;
}
.useful__more-img--active{
    width: 305px;
    height: 180px;
}
.usefull__item--active{
    display: none;
}
/* USEFULL SECTION FINISH*/

/* LOCATION SECTION START */
.location{
    padding-bottom: 247px;
}
.location__box{
    width: 1463px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../images/form-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #333333;
}
.location__text-box{
    width: 375px;
    margin-left: 166px;
}
.location__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
    margin: 0;
}
.location__text{
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}
.location__users-input{
    width: 375px;
    padding-top: 16px;
    padding-bottom: 13px;
    padding-left: 22px;
}
.location__users-input:nth-child(2){
    margin-top: 14px;
    margin-bottom: 14px;
}
.location__users-input--question{
    height: 165px;
    resize: none;
}
.location__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 15px 49px 14px 50px;
    background-color: #ffbd54;
    border: none;
    margin-top: 30px;
}
.location__users-input:focus{
    outline: 2px solid #ffbd54;
}
.location__users-input:not(:focus):not(:-moz-placeholder-shown):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
.location__users-input:not(:focus):not(:-ms-input-placeholder):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
.location__users-input:not(:focus):not(:placeholder-shown):invalid{
    color: #dc4d41;
    outline: 2px solid #dc4d41;
}
/* LOCATION SECTION FINISH */



.hero-asked-questions {
    padding-top: 118px;
    padding-bottom: 270px;
    background-image: url("../images/big-cat.png"), url("../images/pet-animals.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 540px) calc(50% - 500px), calc(50% + 565px) calc(50% + 510px);
}

.hero-asked-questions__link {
    display: inline-block;
    margin-top: 35px;
    padding: 14px 39px;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #fff;
    background-color: #78c0d3;
    border-radius: 3px;
}
.hero-asked-questions__link::before {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 6px;
    background-image: url("../images/document.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.hero-top__text {
    margin-top: 0;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-text-color);
}
.hero-top__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

.hero-asked-questions__details {
    position: relative;
    top: 0;
    left: 0;
    width: 752px;
    margin-bottom: 18px;
    margin-left: 112px;
    padding-top: 23px;
    padding-right: 41px;
    padding-bottom: 32px;
    padding-left: 63px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
}

.hero-asked-questions__details--inactive{
    opacity: 0.5;
    cursor: not-allowed;
}
.hero-top__textbox {
    margin-left: 112px;
}
.hero-top__descbox {
    width: 447px;
}
.hero-asked-questions__details:nth-child(2){
    margin-top: 63px;
}
.hero-asked-questions__details:last-child{
    margin-bottom: 0;
}
.hero-asked-questions__details::after{
    position: absolute;
    top: 60px;
    right: 41px;
    display: inline-block;
    width: 16px;
    height: 9px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.5s ease;
}
.hero-asked-questions__details--inactive::after{
    position: absolute;
    top: 60px;
    right: 41px;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url("../images/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.hero-asked-questions__details[open]::after{
    transform: rotate(180deg);
    transition: 0.5s ease;
}
.hero-asked-questions__details--inactive[open]::after{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hero-asked-questions__summary {
    font-size: 20px;
    line-height: 22px;
    list-style: none;   
    color: var(--main-text-color);
}

.hero-asked-questions__minibox {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 11px;
}

.hero-asked-questions__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    
    color: var(--main-text-color);
    
}

.hero-asked-questions__time::before {
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 2px;
    background-image: url("../images/paw-gold.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}
.hero-asked-questions__details:nth-child(2n + 1) .hero-asked-questions__time::before {
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-right: 2px;
    background-image: url("../images/pawblue.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.hero-asked-questions__summary-name {
    font-size: 12px;
    line-height: 22px;
    
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #78c0de;
}

.hero-asked-questions__desc-box{
    width: 577px;
}

.hero-asked-questions__desc {
    margin-top: 23px;
    margin-bottom: 43px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: var(--main-desc-color);
}


.hero-contact {
    padding-top: 118px;
    padding-bottom: 25px;
    background-image: url("../images/hero-bulldog.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 565px) calc(50% + 10px);
}

.hero-contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
    margin-top: 117px;
}

.hero-contact__adress {
    width: 153px;
    margin-right: 118px;
}
.hero-contact__adress::before {
    display: block;
    width: 73px;
    height: 73px;
    margin-bottom: 30px;
    background-image: url("../images/location.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.hero-contact__adress-link {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    
    color: var(--main-text-color);
}

.hero-contact__time-list {
    margin-top: 0;
    margin-right: 118px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.hero-contact__time-list::before {
    display: block;
    width: 76px;
    height: 72px;
    margin-bottom: 27px;
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.hero-contact__time-item {
    margin-bottom: 12px;
}
.hero-contact__time-item:last-child {
    margin-bottom: 0;
}

.hero-contact__time {
    font-size: 16px;
    line-height: 21px;
    
    color: var(--main-text-color);
    
}

.hero-contact__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero-contact__list::before {
    display: block;
    width: 46px;
    height: 73px;
    margin-bottom: 27px;
    background-image: url("../images/phone-contact.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.hero-contact__item {
    margin-bottom: 9px;
}
.hero-contact__item:last-child {
    margin-bottom: 0px;
}

.hero-contact__fhone-link {
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: var(--main-text-color);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hero-contact__fhone-link:hover {
    color: var(--main-hover-color);
}
.hero-contact__fhone-link:active {
    color: var(--main-text-color);
    opacity: 0.6;
}

.how-find-us {
    padding-top: 503px;
    padding-bottom: 206px;
    background-image: url("../images/how-find-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 205px) calc(50% - 250px);
}

.how-find-us__container-box {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.how-find-us__text {
    position: relative; 
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    
    text-align: center;
    
    color: var(--main-text-color);
}
.how-find-us__text::before {
    position: absolute;
    top: -137px;
    left: calc(50% + 10px);
    display: inline-block;
    width: 112px;
    height: 113px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/how-find-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.how-find-us__box {
    position: relative;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.how-find-us__box::before {
    position: absolute;
    top: -297px;
    left: 10px;
    display: inline-block;
    width: 443px;
    height: 342px;
    background-image: url("../images/bulldog.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.how-find-us__map {
    width: 847px;
    height: 466px;
}

.how-find-us__img {
    width: 593px;
    height: 466px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                -webkit-min-device-pixel-ratio: 2),
only screen and (                -o-min-device-pixel-ratio: 2/1),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero-asked-questions{
        background-image: url("../images/doctor-cat@2x.png"), url("../images/yellow-parrot@2x.png");
    }
    .hero-contact{
        background-image: url("../images/hero-bulldog@2x.png");
    }
    .how-find-us__box::before{
        background-image: url("../images/bulldog@2x.png");
    }
}


/* FOOTER START */
.site-footer{
    background-color: #ebebeb;
    padding-top: 61px;
    padding-bottom: 69px;
}
.site-footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
}

.logo__footer {
    
    position: relative;
}
.footer__list {
    list-style: none;
    padding-left: 0;
}
.footer__item:nth-child(2){
    margin-top: 14px;
    margin-bottom: 14px;
}
.footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
}
.footer__link:hover{
    color: #ffbd54;
}
.footer__link:active{
    opacity: 0.6;
    color: #333333;
}
.footer__data-list {
    padding-left: 0;
    list-style: none;
}
.footer__data-item:nth-child(1):before{
    background-image: url("../images/data.svg");
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    margin-left: -18px;
    width: 14px;
    height: 14px;
}
.footer__data-item{
    text-align: center;
}
.footer__data-item:nth-child(1){
    margin-bottom: 3px;
    
}
.footer__data-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}
.footer__adress {
    width: 182px;
    margin-top: 15px;
}
.adress__link:before{
    background-image: url("../images/house.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 35px;
    height: 13px;
    margin-right: 9px;
}
.adress__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333333;
    font-style: normal;
    text-decoration: none;
}
.footer__phone-list {
    list-style: none;
    padding-left: 0;
}
.footer__phone-item:nth-child(2) {
    margin-top: 4px;
    margin-bottom: 4px;
}
.footer__phone-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    text-decoration: none;
}
.footer__phone-link:hover{
    color: #ffbd54;
}
.footer__phone-link:active{
    color: #333333;
    opacity: 0.6;
}
.footer__phone-item:nth-child(1)::before{
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.footer__phone-item:nth-child(2){
    margin-left: 22px;
    
}
.footer__phone-item:nth-child(3){
    margin-left: 22px;
    
}
.footer__litsenziya {
    display: block;
    margin-top: 28px;
    text-align: right;
}
/* FOOTER FINISH */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-open{
    display: block; 
}
.modal-window {
    position: relative;
    width: 850px;
    margin: 0 auto;
    -webkit-animation-name: animation;
    animation-name: animation;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animation{
    0%{
        top: 0;
    }
    
    50%{
        
    }
    100%{
        top: 157px;
    }
}

@keyframes animation{
    0%{
        top: -700px;
    }
    
    50%{
        
    }
    100%{
        top: 50px;
    }
}

.modal__box{
    position: relative;
    background-image: url("../images/bg-phone-dog.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color:#FFBD54;
    padding-top: 119px;
    padding-bottom: 137px;
    padding-left: 70px;
    display: flex;
}
.modal-window__texbox{
    margin-left: 120px;
}
.btn-reset{
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    background-color: transparent;
}
.modal-window__apps{
    margin-top: 30px;
}
.modal-window__decs{
    margin: 0;
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}
.modal-window__links-box{
    width: 238px;
    background-color: #fff;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.modal-window__links-box-second{
    width: 238px;
    background-color: #fff;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 22px;
    display: flex;
    align-items: center;
}
.modal-window__link-google{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    margin-left: 13px;
}
.modal-window__link-facebook{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    text-decoration: none;
    margin-left: 13px;
}
.modal-window__title{
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 50px;
    line-height: 54px;
    color: #333333;
}
.modal-window__btn{
    display: block;
    padding: 14px 67px 15px 55px;
    background-color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
